# Preparing CPS data for Employment-to-Population ratio exercise

##### Goal:
- Explore CPS raw data

In [2]:
import pandas as pd
from pathlib import Path
from datetime import datetime as dt
today = dt.today().strftime("%d-%b-%y")

In [3]:
RAW_DATA_FOLDER = Path("../data/raw/")
INTERIM_DATA_FOLDER = Path("../data/interim/")
FINAL_DATA_FOLDER = Path("../data/final")
EXTERNAL_DATA_FOLDER = Path("../data/external")

In [8]:
# from realpython.com/
def tree(directory):
    print(f'+ {directory}')
    for path in sorted(directory.rglob('*')):
        depth = len(path.relative_to(directory).parts)
        spacer = '    ' * depth
        print(f'{spacer}+ {path.name}')

In [10]:
tree(RAW_DATA_FOLDER)

+ ..\data\raw
    + cps_00016.dta.gz
    + tl_2018_us_county.zip

### Load the data

This is an example of how you could load files if they are _zipped_. If your data is not zipped pandas can read it in directly.

In [41]:
with gzip.open(RAW_DATA_FOLDER / 'cps_00016.dta.gz',) as file:
    data = pd.read_stata(file)

In [42]:
data.shape

(1367425, 10)

In [43]:
data.head()

,year,month,statefip,county,wtfinl,age,sex,empstat,labforce,educ
0,2004,march,alabama,1073,2180.8989,41,female,at work,"yes, in the labor force","associate's degree, occupational/vocational pr..."
1,2004,march,alabama,1073,3795.1238,23,male,"nilf, unable to work","no, not in the labor force",high school diploma or equivalent
2,2004,march,alabama,0,3039.8985,53,female,at work,"yes, in the labor force","associate's degree, academic program"
3,2004,march,alabama,0,2891.3329,36,female,"unemployed, experienced worker","yes, in the labor force",high school diploma or equivalent
4,2004,march,alabama,0,2420.0073,17,male,"nilf, other","no, not in the labor force",grade 10

In [44]:
data['month'].unique()

[march]
Categories (1, object): [march]

In [47]:
# like checks if the string you're passing it is **in** the axis labels you want to filter
data.filter(axis = 'columns', like = 'e').head()

,year,statefip,age,sex,empstat,labforce,educ
0,2004,alabama,41,female,at work,"yes, in the labor force","associate's degree, occupational/vocational pr..."
1,2004,alabama,23,male,"nilf, unable to work","no, not in the labor force",high school diploma or equivalent
2,2004,alabama,53,female,at work,"yes, in the labor force","associate's degree, academic program"
3,2004,alabama,36,female,"unemployed, experienced worker","yes, in the labor force",high school diploma or equivalent
4,2004,alabama,17,male,"nilf, other","no, not in the labor force",grade 10

In [56]:
# regex uses re.search(arg, col). for example,  columns that end with t
data.filter(axis = 'columns', regex = 't$').head()

                          empstat
0                         at work
1            nilf, unable to work
2                         at work
3  unemployed, experienced worker
4                     nilf, other

In [58]:
# or start with S
data.filter(axis = 'columns', regex = '^s').head()

  statefip     sex
0  alabama  female
1  alabama    male
2  alabama  female
3  alabama  female
4  alabama    male

In [62]:
# reindexing for something useful and filtering index
reindexed_data = data.set_index('statefip')
reindexed_data.head()

,year,month,county,wtfinl,age,sex,empstat,labforce,educ
statefip,,,,,,,,,
alabama,2004,march,1073,2180.8989,41,female,at work,"yes, in the labor force","associate's degree, occupational/vocational pr..."
alabama,2004,march,1073,3795.1238,23,male,"nilf, unable to work","no, not in the labor force",high school diploma or equivalent
alabama,2004,march,0,3039.8985,53,female,at work,"yes, in the labor force","associate's degree, academic program"
alabama,2004,march,0,2891.3329,36,female,"unemployed, experienced worker","yes, in the labor force",high school diploma or equivalent
alabama,2004,march,0,2420.0073,17,male,"nilf, other","no, not in the labor force",grade 10

In [63]:
# index starts with c
reindexed_data.filter(axis = 'index', regex = '^c').head()

,year,month,county,wtfinl,age,sex,empstat,labforce,educ
statefip,,,,,,,,,
california,2004,march,6073,4307.1373,33,female,at work,"yes, in the labor force",bachelor's degree
california,2004,march,0,4858.1338,61,female,at work,"yes, in the labor force",some college but no degree
california,2004,march,6037,2895.1947,63,male,at work,"yes, in the labor force",bachelor's degree
california,2004,march,6037,2680.9360,57,female,at work,"yes, in the labor force",bachelor's degree
california,2004,march,6037,2671.5139,20,female,"nilf, other","no, not in the labor force",some college but no degree

In [64]:
# index has carolina in its name
reindexed_data.filter(axis = 'index', like='carolina')

,year,month,county,wtfinl,age,sex,empstat,labforce,educ
statefip,,,,,,,,,
north carolina,2004,march,0,3015.8797,46,female,"nilf, unable to work","no, not in the labor force",grade 10
north carolina,2004,march,0,3460.4450,16,male,"nilf, other","no, not in the labor force",grade 9
north carolina,2004,march,37183,2753.9863,29,female,"unemployed, experienced worker","yes, in the labor force",bachelor's degree
north carolina,2004,march,37183,3266.7691,30,male,at work,"yes, in the labor force",bachelor's degree
north carolina,2004,march,0,2491.2422,32,female,at work,"yes, in the labor force",bachelor's degree
north carolina,2004,march,0,2723.8521,37,male,"has job, not at work last week","yes, in the labor force",high school diploma or equivalent
north carolina,2004,march,0,2752.1155,27,female,at work,"yes, in the labor force",bachelor's degree
north carolina,2004,march,0,3775.5612,24,male,at work,"yes, in the labor force",high school diploma or equivalent
north carolina,2004,march,0,2372.2875,51,female,at work,"yes, in the labor force",high school diploma or equivalent
north carolina,2004,march,37183,2496.5739,20,female,at work,"yes, in the labor force",some college but no degree
north carolina,2004,march,37183,2496.5739,20,female,at work,"yes, in the labor force",some college but no degree
north carolina,2004,march,37183,2496.5739,20,female,at work,"yes, in the labor force",some college but no degree
north carolina,2004,march,37183,2904.0391,27,male,at work,"yes, in the labor force",bachelor's degree
north carolina,2004,march,0,3769.4413,24,female,at work,"yes, in the labor force",bachelor's degree
north carolina,2004,march,0,3390.6382,38,female,at work,"yes, in the labor force",high school diploma or equivalent
north carolina,2004,march,0,2945.3359,40,male,at work,"yes, in the labor force",high school diploma or equivalent
north carolina,2004,march,37119,2794.6550,46,female,at work,"yes, in the labor force",high school diploma or equivalent
north carolina,2004,march,37119,2835.3846,53,male,at work,"yes, in the labor force",high school diploma or equivalent
north carolina,2004,march,0,3258.8523,50,male,at work,"yes, in the labor force",master's degree
north carolina,2004,march,0,3359.4684,49,female,at work,"yes, in the labor force",master's degree
north carolina,2004,march,0,3131.8192,19,male,"nilf, other","no, not in the labor force",some college but no degree
north carolina,2004,march,0,2980.6448,53,female,"nilf, unable to work","no, not in the labor force",high school diploma or equivalent
north carolina,2004,march,0,2509.8142,57,male,"nilf, unable to work","no, not in the labor force",high school diploma or equivalent
north carolina,2004,march,0,5170.4985,21,male,"nilf, other","no, not in the labor force",grade 10
north carolina,2004,march,0,5170.4985,22,male,"nilf, other","no, not in the labor force",grade 10
north carolina,2004,march,0,2690.5312,47,female,at work,"yes, in the labor force",some college but no degree
north carolina,2004,march,0,4114.6786,32,male,at work,"yes, in the labor force",bachelor's degree
north carolina,2004,march,0,2568.3216,28,female,at work,"yes, in the labor force",master's degree
north carolina,2004,march,0,2643.6296,32,male,at work,"yes, in the labor force",doctorate degree
north carolina,2004,march,37119,2309.9040,40,female,at work,"yes, in the labor force",some college but no degree
...,...,...,...,...,...,...,...,...,...
south carolina,2019,march,45041,3116.6463,22,female,"nilf, other","no, not in the labor force","associate's degree, occupational/vocational pr..."
south carolina,2019,march,45041,3422.0755,30,male,at work,"yes, in the labor force",high school diploma or equivalent
south carolina,2019,march,45083,2388.5464,51,female,"unemployed, experienced worker","yes, in the labor force",bachelor's degree
south carolina,2019,march,45083,2385.9370,55,male,at work,"yes, in the labor force",bachelor's degree
south carolina,2019,march,0,2105.5785,39,female,"nilf, other","no, not in the labor force","associate's degree, academic program"
south carolina,2019,march,0,2901.7881,20,male,"nilf, other","no, not in the labor force",some college but no degree
south carolina,2019,march,45091,3153.9817,30,female,at work,"yes, in the labor force",bachelor's degree
south carolina,2019,march,45091,2809.7032,43,male,at work,"yes, in the labor force",bachelor's degree
south carolina,2019,march,45091,2099.0296,33,male,at work,"yes, in the labor force",some college but no degree
south carolina,2019,march,45041,2775.6373,41,female,at work,"yes, in the labor force",bachelor's degree
south carolina,2019,march,45041,2601.2531,57,male,at work,"yes, in the labor force",grade 10
south carolina,2019,march,45083,1926.8253,64,female,"nilf, other","no, not in the labor force",high school diploma or equivalent
south carolina,2019,march,45083,2435.1639,59,male,at work,"yes, in the labor force",high school diploma or equivalent
south carolina,2019,march,45083,2248.5657,59,female,"unemployed, experienced worker","yes, in the labor force",high school diploma or equivalent
south carolina,2019,march,45083,2360.2371,45,male,at work,"yes, in the labor force","associate's degree, academic program"
south carolina,2019,march,45083,2252.2326,45,female,at work,"yes, in the labor force",master's degree
south carolina,2019,march,45083,2069.7181,18,female,at work,"yes, in the labor force",grade 11
south carolina,2019,march,45083,2578.1668,20,male,"nilf, other","no, not in the labor force",some college but no degree
south carolina,2019,march,45091,2530.1346,60,female,"nilf, retired","no, not in the labor force",bachelor's degree
south carolina,2019,march,45083,3119.9664,28,male,at work,"yes, in the labor force",high school diploma or equivalent
south carolina,2019,march,45083,2626.4526,28,female,"nilf, retired","no, not in the labor force",bachelor's degree
south carolina,2019,march,45051,2289.8456,65,male,at work,"yes, in the labor force",high school diploma or equivalent
south carolina,2019,march,45041,2252.7220,34,female,at work,"yes, in the labor force",high school diploma or equivalent
south carolina,2019,march,45041,2355.4897,16,male,"nilf, other","no, not in the labor force",grade 11
south carolina,2019,march,45083,2174.3907,53,male,at work,"yes, in the labor force",high school diploma or equivalent
south carolina,2019,march,45083,2659.2250,53,female,at work,"yes, in the labor force",high school diploma or equivalent
south carolina,2019,march,45041,3130.3366,41,male,"nilf, unable to work","no, not in the labor force",grade 9
south carolina,2019,march,45041,3513.9030,31,female,at work,"yes, in the labor force",some college but no degree
south carolina,2019,march,0,2352.2884,65,female,at work,"yes, in the labor force",some college but no degree
south carolina,2019,march,45091,2011.6969,65,female,"nilf, retired","no, not in the labor force",high school diploma or equivalent